Repository playfulprogramming/playfulprogramming, pull requests merged in 2019-10, with the labels that each got.

#90 Added Eduardo's Android Design post
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/56sp.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Android_TextView_Size.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Android_measurement.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Designers_Want_Designers_Get.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Dont_Override.mp4
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Dos_Donts.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Figma_TextBox_Size.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Implementation.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Intended_Use.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Line_Height_Difference.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Memoire_Bounds_and_Baselines.mp4
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Preview.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Specs.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Step_01.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Step_02.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Step_03.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Step_04.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Step_05.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Step_06.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Step_07.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Step_08.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/TextStyle_Buttons.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Under_The_Hood_01.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/Under_The_Hood_02.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/headline-text-size-showcase.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/iOS_measurement.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/iOS_vs_Android.mp4
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/includeFontPadding.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/memoire-headline-4-code.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/images/text-style-applied-properly.png
  content/blog/hard-grids-and-baselines-android-design-fidelity/index.md
  gatsby-config.js
  package-lock.json
  package.json
  plugins/tab-index-image/gatsby-browser.js
  plugins/tab-index-image/index.js
  plugins/tab-index-image/package.json
  src/data/edpratti.jpg
  src/data/licenses.json
  src/data/unicorns.json
  src/global.scss
  src/prism.scss
  static/posts/hard-grids-and-baselines-android-design-fidelity/styles.xml
Labels: blog post, enhancement

#98 Typescript intro post
  content/blog/introduction-to-typescript/index.md
Labels: blog post

#27 Multiple post authors
  __mocks__/data/mock-post.js
  __mocks__/data/mock-unicorn.js
  content/blog/angular-templates-start-to-source/index.md
  content/blog/hard-grids-and-baselines-android-design-fidelity/index.md
  content/blog/introduction-to-android-framework/index.md
  content/blog/introduction-to-typescript/index.md
  content/blog/joining-freenode-irc/index.md
  content/blog/travis-ci-for-android/index.md
  content/blog/typescript-type-generics/index.md
  content/blog/uttering-hello-introduction-post/index.md
  gatsby-config.js
  gatsby-node.js
  src/components/layout/layout.js
  src/components/pic-title-header/pic-title-header.test.js
  src/components/post-card-list/post-card-list.js
  src/components/post-card-list/post-card-list.module.scss
  src/components/post-card/post-card.js
  src/components/post-card/post-card.module.scss
  src/components/post-card/post-card.test.js
  src/components/post-view/post-metadata/post-metadata.js
  src/components/post-view/post-metadata/post-metadata.module.scss
  src/components/user-profile-pic/index.js
  src/components/user-profile-pic/user-profile-pic.js
  src/components/user-profile-pic/user-profile-pic.module.scss
  src/pages/__tests__/index.test.js
  src/templates/blog-post.js
  src/templates/blog-post.test.js
  src/templates/blog-profile.js
  src/templates/blog-profile.test.js
  src/utils/useLunr.js
Labels: enhancement

#112 Fix syntax highlighting
  content/blog/angular-templates-start-to-source/index.md
  gatsby-config.js
  package-lock.json
Labels: enhancement
