Repository playfulprogramming/playfulprogramming, pull requests merged in 2020-03, with the labels that each got.

#109 Update: post body line height and heading margins
  src/components/post-card/post-card.module.scss
  src/global.scss
Labels: enhancement

#172 How to Pick a Tech Stack post
  content/blog/how-to-pick-tech-stacks-for-new-projects/index.md
Labels: blog post

#180 Post: A basic overview of OSI
  content/blog/basic-overview-of-packets-and-osi/breakdown_of_a_packet.svg
  content/blog/basic-overview-of-packets-and-osi/bus_animation.mp4
  content/blog/basic-overview-of-packets-and-osi/header_routing.mp4
  content/blog/basic-overview-of-packets-and-osi/image_of_unidirectional_data_being_sent.svg
  content/blog/basic-overview-of-packets-and-osi/index.md
  content/blog/basic-overview-of-packets-and-osi/osi_layer.svg
  src/components/mailing-list/mailing-list.tsx
  src/pages/thanks.tsx
Labels: blog post

#185 Making an Angular Blog with Scully Post
  content/blog/making-an-angular-blog-with-scully/dist-folders.png
  content/blog/making-an-angular-blog-with-scully/hello_world_blog_post.png
  content/blog/making-an-angular-blog-with-scully/index.md
  content/blog/making-an-angular-blog-with-scully/post_list_preview.png
  content/blog/making-an-angular-blog-with-scully/post_page_preview.png
Labels: blog post

#191 SSR and SSG Post
  content/blog/what-is-ssr-and-ssg/csr.svg
  content/blog/what-is-ssr-and-ssg/index.md
  content/blog/what-is-ssr-and-ssg/normal.svg
  content/blog/what-is-ssr-and-ssg/ssg.svg
  content/blog/what-is-ssr-and-ssg/ssg_slowdown.svg
  content/blog/what-is-ssr-and-ssg/ssr.svg
  package.json
  src/global.scss
Labels: blog post

#197 Networking 101: UDP and TCP
  content/blog/basic-overview-of-packets-and-osi/index.md
  content/blog/networking-101-udp-and-tcp/index.md
  content/blog/networking-101-udp-and-tcp/ip-comparison.svg
  content/blog/networking-101-udp-and-tcp/showing-an-ip-address.svg
  gatsby-config.js
  package-lock.json
  package.json
  plugins/remarked-autolink-headers-and-add-id/gatsby-node.js
  plugins/remarked-autolink-headers-and-add-id/package.json
  src/components/series-toc/index.js
  src/components/series-toc/series-toc.js
  src/global.scss
Labels: blog post, enhancement
