Repository playfulprogramming/playfulprogramming, pull requests merged in 2022-01, with the labels that each got.

#293 Windows article updates
  content/blog/ultimate-windows-development-environment-guide/index.md
  content/blog/ultimate-windows-development-environment-guide/linux_gui.png
  content/blog/ultimate-windows-development-environment-guide/linux_sidebar.png
  content/blog/ultimate-windows-development-environment-guide/my_terminal_example.png
  content/blog/ultimate-windows-development-environment-guide/winget_search.png
Labels: blog post

#294 chore: upgrade Node.js, actions, and increase sync retries for backoff
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/destroy-dev.yml
  .github/workflows/test.yml
Labels: task

#297 Add Polyglot posts
  content/blog/angular-route-guards-authorization-web-mobile-application/index.md
  content/blog/change-host-file-android-emulator/1.png
  content/blog/change-host-file-android-emulator/10.png
  content/blog/change-host-file-android-emulator/11.png
  content/blog/change-host-file-android-emulator/2.png
  content/blog/change-host-file-android-emulator/3.png
  content/blog/change-host-file-android-emulator/4.png
  content/blog/change-host-file-android-emulator/5.png
  content/blog/change-host-file-android-emulator/6.png
  content/blog/change-host-file-android-emulator/7.png
  content/blog/change-host-file-android-emulator/8.png
  content/blog/change-host-file-android-emulator/9.png
  content/blog/change-host-file-android-emulator/index.md
Labels: blog post

#314 fix: adds in privacy error detection and handling
  src/components/privacy-error-boundary.tsx
  src/pages/posts/[slug].tsx
Labels: bug
